<main>
  <div class="about-me">
    <h3>Here's more about me.</h3>
    <p>
      Sed harum amet nam molestiae impedit ut quod reiciendis. Id nulla eius et veniam libero qui deserunt facilis sed
      repellendus iure. Sit inventore incidunt aut porro odio est laborum magnam ex blanditiis quia vel labore quia et inventore quaera.</p>
    <p>
      Sed harum amet nam molestiae impedit ut quod reiciendis. Ea enim velit est enim ratione id laudantium quos! Sed sapiente eveniet aut similique dolore qui aspernatur optio.
      Qui quam optio aut magni nemo qui animi internos ut repudiandae odio. Eos perspiciatis enim cum maiores quia qui</p>
    <p>
      Ea enim velit est enim ratione id laudantium quos! Sed sapiente eveniet aut similique dolore qui aspernatur optio.
      Qui quam optio aut magni nemo qui animi internos ut repudiandae odio.</p>
  </div>
  <div class="projects">
    <p>
      laudantium quos sed sapiente eveniet aut:</p>
    <div class="icons">
      <a href="#"><img src="icons/icon-facebook.svg"></a>
      <a href="#"><img src="icons/icon-instagram.svg"></a>
      <a href="#"><img src="icons/icon-twitter.svg"></a>
      <a href="#"><img src="icons/icon-facebook.svg"></a>
      <a href="#"><img src="icons/icon-pinterest.svg"></a>
      <a href="#"><img src="icons/icon-twitter.svg"></a>
    </div>
  </div>
</main>