<main>
  <div class="about-me">
    <h3>Here's more about me.</h3>

    <p>
      Sed harum amet nam molestiae impedit ut quod reiciendis. Id nulla eius et
      veniam libero qui deserunt facilis sed repellendus iure. Sit inventore
      incidunt aut porro odio est laborum magnam ex blanditiis quia vel labore
      quia et inventore quaera.
    </p>
    <p>
      Sed harum amet nam molestiae impedit ut quod reiciendis. Ea enim velit est
      enim ratione id laudantium quos! Sed sapiente eveniet aut similique dolore
      qui aspernatur optio.
    </p>
    <p>
      Qui quam optio aut magni nemo qui animi internos ut repudiandae odio. Eos
      perspiciatis enim cum maiores quia qui Ea enim velit est enim ratione id
      laudantium quos! Sed sapiente eveniet aut aspernatur optio. Qui quam optio
      aut magni nemo qui animi internos ut repudiandae odio.
    </p>
  </div>

  <p>laudantium quos sed sapiente eveniet aut:</p>

  <div class="icons">
    <img
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
    />
    <img src="https://cdn.worldvectorlogo.com/logos/django.svg" />
    <img
      src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg"
    />
    <img
      src="https://www.vectorlogo.zone/logos/google_cloud/google_cloud-icon.svg"
    />
    <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" />
    <img
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
    />
    <img
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg"
    />
    <img
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
    />
    <img
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg"
    />
    <img
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
    />
    <img
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
    />
    <img
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
    />
    <img
      src="https://raw.githubusercontent.com/detain/svg-logos/780f25886640cef088af994181646db2f6b1a3f8/svg/selenium-logo.svg"
    />
  </div>
</main>
