h3,
p {
  padding-bottom: 1.8rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  img {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 700px) {
  main {
    padding-block: 2rem;
    padding-inline: 4rem;
  }
}
