<main>
  <div class="about-me">
    <h3>Here's more about me.</h3>
    
    <p>
      I didn’t follow a traditional path into web development. Instead, I started with free online resources, coding
      bootcamps, and lots of personal projects. This self-directed learning approach allowed me to develop a deep
      understanding of both frontend and backend technologies. I’ve built everything from simple static sites to complex web
      applications, all while working full-time and continuously honing my skills.
    </p>
    
    <p>
      Soft Skills:</p>
      <ul>
        <li>Strong problem-solving abilities</li>
        <li>Collaborative team player</li>
        <li> Able to adapt to new environments</li>
        <li>Excellent communicator</li>
      </ul> <p></p>

      <p>
        I thrive in fast-paced environments and enjoy tackling complex problems with innovative solutions.</p>

      <p>
         My approach to development focuses on both the front-end and back-end in mind, ensuring a well-rounded understanding of the entire
        tech stack. I’ve worked on various personal projects, startups, developing a robust skill set in both frontend and backend technologies
      </p>

  </div>

  <p>Languages and Tools:</p>

  <div class="icons">

    <img src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=html5&logoColor=white" />
    <img src="https://img.shields.io/badge/-CSS3-1572B6?style=flat-square&logo=css3&logoColor=white" />
    <img src="https://img.shields.io/badge/-JavaScript-F7DF1E?style=flat-square&logo=javascript&logoColor=white" />
    <img src="https://img.shields.io/badge/-Angular-E23237?style=flat-square&logo=angular&logoColor=white" />
    <img src="https://img.shields.io/badge/-Vue.js-4FC08D?style=flat-square&logo=vue.js&logoColor=white" />
    <img src="https://img.shields.io/badge/-Drizzle%20ORM-0F4C81?style=flat-square&logo=drizzle&logoColor=white" />
    <img src="https://img.shields.io/badge/-TypeScript-3178C6?style=flat-square&logo=typescript&logoColor=white" />
    <img src="https://img.shields.io/badge/-Node.js-339933?style=flat-square&logo=node.js&logoColor=white" />
    <img src="https://img.shields.io/badge/-Firebase-F6820F?style=flat-square&logo=firebase&logoColor=white" />
    <img src="https://img.shields.io/badge/-Figma-000000?style=flat-square&logo=figma&logoColor=white" />
    <img src="https://img.shields.io/badge/-Adobe-FF61F6?style=flat-square&logo=adobe&logoColor=white" />
    <img src="https://img.shields.io/badge/-Bootstrap-563D7C?style=flat-square&logo=bootstrap&logoColor=white" />
    <img src="https://img.shields.io/badge/-Tailwind%20CSS-38B2AC?style=flat-square&logo=tailwindcss&logoColor=white" />

  </div>


</main>