.form {
  display: grid;
  gap: 1rem;

  input {  height: 2rem;}

  textarea {  min-height: 6rem;}

  button {
    padding: .5rem;
    color: #ffffff;
    border: 0;
    background: #20201f;
  }
}

aside {

  display: grid;
  gap: 1rem;
  justify-items: center;
  text-align: center;

  .image {
    height: 8rem;
    width: 8rem;
    border-radius: 46%;
    background: #20201f;
    background: url("../../../../../public/image-jeremy.png");
    background-position: center;
    background-size: contain;
  }
  
  .icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
  }

  .icons img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

p { padding-bottom: .5rem;}
a { color: #20201f;}

@media (min-width: 768px) {

  .main{
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    padding-block: 2rem;
    gap: 5rem;
  }
  
  input,
  textarea {  min-width: 16rem;}
}

@media (max-width: 768px) {

  .image {  display: none;}
  .main { 
    display: grid;
    gap: 2rem;
  }

  input,
  textarea {  min-width: 100%;}

  button {  width: 35%; color: #ffffff;}
}
