.form {
  display: grid;
  gap: 1rem;

  input {  height: 2rem;}

  textarea {  min-height: 6rem;}

  button {
    padding: .5rem;
    border: 0;
    background: #2c584b;
  }
}

aside {

  display: grid;
  gap: 1rem;
  text-align: center;

  .image {
    height: 10rem;
    width: 10rem;
    border-radius:50%;
    background: #2c584b;
  }
  
  .icons {
    display: flex;
    justify-content: space-evenly;
  }
}

p { padding-bottom: .5rem;}
a { color: #2c584b;}

@media (min-width: 768px) {

  .main{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 2rem 4rem;
    gap: 5rem;
  }

  input,
  textarea {  min-width: 16rem;}
}

@media (max-width: 768px) {

  .image {  display: none;}
  .main { 
    display: grid;
    gap: 2rem;
    padding: 2rem;
  }

  input,
  textarea {  min-width: 100%;}

  button {  width: 35%; color: #ffffff;}
}