<main class="main">

  <form action="https://formspree.io/f/xbjnwvjl" method="POST">

    <h3>Message Us</h3>

    <label>
      Full Name
      <input type="text" name="name">
    </label>

    <label>
      Email
      <input type="email" name="email">
    </label>

    <label>
      Message
      <textarea name="message"></textarea>
    </label>

    <button type="submit">Send</button>
  </form>

  <aside>

    <div class="image"></div>
    <div class="contacts">
      <a href="tel:+">012 482 6401</a>
      <a href="mailto:">example&#64;mail.com</a>
    </div>
    <div class="icons">
      <a href="#"><img src="icons/icon-facebook.svg"></a>
      <a href="#"><img src="icons/icon-instagram.svg"></a>
      <a href="#"><img src="icons/icon-twitter.svg"></a>
      <a href="#"><img src="icons/icon-pinterest.svg"></a>
    </div>
  </aside>

</main>