<p>portfolio coming soon!</p>
<div class="projects">
  <p>
    laudantium quos sed sapiente eveniet aut:</p>
  <div class="links">
    <a href="https://360resume.netlify.app/" target="_blank" id="resume">Resume </a>
    <a href="https://serenecosmo.netlify.app/" target="_blank" id="qoutes">Serene</a>
    <a href="https://github.com/themba-asd/password_generator" target="_blank" id="password">Password</a>
    <a href="https://github.com/themba-asd/weather_app" target="_blank" id="weather">Weather</a>
    <a href="https://github.com/themba-asd/password_generator" target="_blank" id="password">Password</a>
  </div>
</div>