.frame {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

iframe {
  overflow: hidden;
  border: .15rem solid #20201f;
  border-radius: .1rem;
}

@media (min-width: 700px) {

  main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 2rem;
  }
  
  iframe {
    width: 18rem;
    height: 18rem;
  }
}

@media (max-width: 700px) {

  main div {
    padding-block: 1rem;
  }
}