<main>
  
  <div class="frame">
    <iframe src="https://360resume.netlify.app" frameborder="0" allowfullscreen></iframe>
    <a href="https://360resume.netlify.app/" target="_blank" id="resume">Resume Builder </a>
  </div>
  <div class="frame">
    <iframe src="https://oshriyah.neocities.org/" frameborder="0" allowfullscreen></iframe>
    <a href="https://oshriyah.neocities.org/" target="_blank" id="resume">Osh Company </a>
  </div>
  <div class="frame">
    <iframe src="https://4phrases.netlify.app" frameborder="0" allowfullscreen></iframe>
    <a href="https://4phrases.netlify.app" target="_blank" id="resume">4 Phrases </a>
  </div>
  <div class="frame">
    <iframe src="https://4words.netlify.app" frameborder="0" allowfullscreen></iframe>
    <a href="https://4words.netlify.app" target="_blank" id="resume">4 Words A Day </a>
  </div>
  <div class="frame">
    <iframe src="https://serenecosmo.netlify.app" frameborder="0" allowfullscreen></iframe>
    <a href="https://serenecosmo.netlify.app" target="_blank" id="resume">Resume </a>
  </div>
  <div class="frame">
    <iframe src="https://github.com/themba-asd/weather_app" frameborder="0" allowfullscreen></iframe>
    <a href="https://github.com/themba-asd/weather_app" target="_blank" id="resume">Tasks App </a>
  </div>
  <div class="frame">
    <iframe src="https://github.com/themba-asd/password_generator" frameborder="0" allowfullscreen></iframe>
    <a href="https://github.com/themba-asd/password_generator" target="_blank" id="resume">Passwords </a>
  </div>

</main>