<main>
  
  <div class="frame">
    <iframe src="https://360resume.netlify.app" frameborder="0" allowfullscreen></iframe>
    <a href="https://360resume.netlify.app/" target="_blank" id="resume">Resume Builder </a>
  </div>
  <div class="frame">
    <iframe src="https://oshriyah.neocities.org/" frameborder="0" allowfullscreen></iframe>
    <a href="https://oshriyah.neocities.org/" target="_blank" id="resume">Osh Company </a>
  </div>
  <div class="frame">
    <iframe src="https://4phrases.netlify.app" frameborder="0" allowfullscreen></iframe>
    <a href="https://4phrases.netlify.app" target="_blank" id="resume">4 Phrases </a>
  </div>
  <div class="frame">
    <iframe src="https://4words.netlify.app" frameborder="0" allowfullscreen></iframe>
    <a href="https://4words.netlify.app" target="_blank" id="resume">4 Words A Day </a>
  </div>
  <div class="frame">
    <iframe src="https://4passwords.netlify.app" frameborder="0" allowfullscreen></iframe>
    <a href="https://4passwords.netlify.app" target="_blank" id="resume">Password generator </a>
  </div>
  <div class="frame">
    <iframe src="https://4survey.netlify.app" frameborder="0" allowfullscreen></iframe>
    <a href="https://4survey.netlify.app" target="_blank" id="resume">4 Survey </a>
  </div>
  <div class="frame">
    <iframe src="https://sunnysidelandagency.netlify.app" frameborder="0" allowfullscreen></iframe>
    <a href="https://sunnysidelandagency.netlify.app" target="_blank" id="resume">Sunnyside Agency </a>
  </div>
</main>