
@media (min-width: 700px) {

  main {
    height: 100svh;
    padding: 1rem;
    background: rgb(203, 209, 209);
  }

  .main {
    height: calc(100svh - 2rem);
    background: #ffffff;
    overflow-y: scroll;
    border:  1rem solid #5e5c5c;
    
  }

}

@media (max-width: 700px) {
    .router {
      padding: 3rem 1rem;
    }
}