.main {
  min-height: 100svh;
}
.router {
  height: 100%;
  background: #ffffff;
}


@media (min-width: 768px) {
  
  .main {
    display: grid;
    align-content: center;
    justify-content: center;
    background: #e9e8e8;
  } 

  p {
      max-width: 48rem;
  }
}

@media (max-width: 768px) {

  .main {
    display: grid;

  }

}