
.router {
  height: 100%;
  background: #ffffff;
}


@media (min-width: 768px) {
  
  .main {
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    background: #e9e8e8;
  } 

  p {
      max-width: 48rem;
  }
}