
nav {
  padding: 1rem;
  background: #2c584b;
  text-align: end;
}

nav a {
  color: #ffffff;
  padding-inline: 1rem;
  text-decoration: none;
  border-left: 1px solid #ffffff;
}


@media (max-width: 768px) {

  nav { text-align: center;}
  nav a:first-child {  border: 0;}
}