
header {
  min-height: 25svh;
  display: grid;
  gap: 1rem;
  text-align: center;
  background: #20201f;

  .slogan {
    color: #ffffff;
    letter-spacing: .2rem;
  }
}

nav {

  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #20201f;

  a {
    color: rgb(0, 0, 0);
    padding: .5rem 1rem;
    font-size: .8rem;
    text-decoration: none;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.9);
  }
}

@media (min-width: 512px) {
  nav {
    padding: 1rem;
  }
}