/**
nav {
  padding: 1rem;
  background: #2c584b;
  text-align: end;
}

nav a {
  color: #ffffff;
  padding-inline: 1rem;
  text-decoration: none;
  border-left: 1px solid #ffffff;
}
**/

nav a {
  padding: .5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  background: #2c584b;
  border-radius: 2rem;
}

nav small {
  display: flex;
  justify-content: space-evenly;
  text-align: end;
  background: #ffffff;
  padding: 1rem;
}



@media (max-width: 768px) {

  nav { text-align: center;}
  nav a:first-child {  border: 0;}
}