.main {
  display: grid;
  gap: 2rem;
  padding-block: 2rem;
  padding-inline: 2rem;
}

.main h1 {
  color: #2c584b;
  padding-bottom: .5rem;
}

.main h3 {
  padding-bottom: 1rem;
}

.main p {
  padding-bottom: .5rem;
}

.main ul {
  list-style-position: inside;
}

.main .date {
  padding-bottom: .2rem;
}

.date,
.main a,
.main li {
  color: #4b4a4a;
  text-decoration: none;
}