.main {
  display: grid;
  gap: 1rem;
}

.main h1 {
  color: #20201f;
  padding-bottom: .5rem;
}

.main h3 {
  padding-bottom: .5rem;
}

.main p {
  padding-bottom: .5rem;
}

.main ul {
  list-style-position: inside;
}

.main .date {
  padding-bottom: .5rem;
}

.date,
.main a,
.main li {
  color: #4b4a4a;
  text-decoration: none;
}

@media (min-width: 700px) {

  .main {
    padding: 1rem 3rem;
  }
}

@media (max-width: 700px) {

  .main {
    padding: 3rem 1rem;
  }
}