<main class="main">
  <div>
    <h1>Frank Frank</h1>
    <p>
      Sed harum amet nam molestiae impedit ut quod reiciendis. Id nulla eius et veniam libero qui deserunt facilis sed repellendus iure.
      Ea enim velit est enim ratione id laudantium quos! Sed sapiente eveniet.</p>
    <p>
      Sit inventore incidunt aut porro odio est laborum magnam ex blanditiis quia vel labore quia et
      inventore quaerat At ratione soluta. Enim ratione id laudantium quos! Sed sapiente eveniet.</p>
  </div>
  <div>
    <h3>My Projects</h3>
    <ul>
      <li><a href="https://360resume.netlify.app/" target="_blank">360 Resume</a></li>
      <li><a href="https://360resume.netlify.app/" target="_blank">Easy Site builder</a></li>
      <li><a href="https://oshriyah.neocities.org/" target="_blank">Company website</a></li>
    </ul>
  </div>
  <div>
    <p class="date">NobScheme Freelancer | Gauteng</p>
    <p>
      Id nulla eius et veniam libero qui deserunt facilis sed repellendus iure.
      Sed harum amet nam molestiae impedit ut quod reiciendis. ibero qui deserunt facilis.</p>
  </div>
</main>