<main class="main">
  <div>
    <h1>Frank Frank</h1>
    <p>
      Hi there, I’m a self-taught Frontend Developer with a passion for creating visually stunning and
      highly functional web applications. My journey started with curiosity and a few online tutorials, and over the years,
      I’ve built a solid skill set through hands-on projects and constant learning. I’m excited about solving problems,
      experimenting with new technologies, and making the web a better place. I specialize in creating high-performance websites and applications with modern
      technologies and best practices.
    </p>
    <p>
      Let's connect & collaborate in creating innovative and cutting-edge solutions.</p>
  </div>
  <div>
    <h3>Recent Projects</h3>
    <ul>
      <li><a href="https://360resume.netlify.app/" target="_blank">360 Resume</a></li>
      <li><a href="https://4phrases.vercel.app/" target="_blank">4 Phrases</a></li>
      <li><a href="https://oshriyah.neocities.org/" target="_blank">Company Site</a></li>
    </ul>
  </div>
  <div>
    <p class="date">Tagline</p>
    <p>
      Crafting seamless, responsive web experiences with a passion for clean code and user-centric design.</p>
  </div>
</main>