* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-wrap: anywhere;
}

a {
  color: #20201f;
  text-decoration: none;
}

ul {
  list-style-position: inside;
}
